<div class="container footer" 
    fxLayout="column wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="start center" 
    fxLayoutAlign.lt-md="start center" 
    fxLayoutAlign.lt-sm="start center" 
    fxLayoutAlign.lt-xs="start center" 
    fxLayoutGap="50px">

  <div fxFlex="100" fxFlex.gt-sm="10">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="10px" *ngIf="!deviceXs"> 
          <mat-list-item><a mat-button routerLink='/home'>Home</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/aboutus'>About</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/services'>Services</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/contactus'>Contact</a></mat-list-item>
      </div> 
      <div fxFlex="55" >
        <address>
          121, Abdullah Omran Taryam Street<br> Al Sofouh, Dubai - UAE<br>
          <i class="fa fa-phone"></i>: +971 4123 4567<br>
          <i class="fa fa-envelope"></i>: 
                <a href="mailto:homecare@home.ae">homecare@home.ae</a>
        </address>
        <div style="margin-top: 15px; " fxLayout="row">
          <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
          <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
          <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      </div>
      <div style="margin-top: 15px;">
        <p>© Copyright 2020 HomeCare™</p>
        </div>
      </div>
</div>