<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="none none"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"
    *ngIf="job"
    [@expand]>

    

<div fxFlex="25" *ngIf="job" [@visibility]="visibility" [@expand]>  
  <mat-card>
  <img height="200px" mat-card-image src="{{baseURL+job.image}}" alt={{job.name}} width="50px">
  <mat-card-content>
      <h2>{{job.name | uppercase}}</h2>
  </mat-card-content>  
  <mat-card-actions>
    <button mat-button (click)="goBack()" class="buttonBg">All {{job.categoryname}} Services</button>
</mat-card-actions>
  </mat-card> 
</div>

<div fxFlex="40" *ngIf="job" [@visibility]="visibility" [@expand]>
    <mat-list>
        <h1 style="color: black; width: 300px;">{{job.title}}</h1>
        <hr>
        <mat-list-item *ngFor="let p of job.paragraphs">
        <p style="color: black; width: 900px;white-space: pre-line"> {{p.paragraph}} </p>&nbsp;
        <!-- <p style="color: black;"> {{p.paragraph}} </p> -->
        </mat-list-item>
    </mat-list> 
</div> 


<div fxFlex="20" class="formcontainer">
  <mat-label style="font-size:20px; color:rgb(136, 74, 199);">Need {{job.name}}?</mat-label>
    <form novalidate [formGroup]="requestForm" *ngIf="job"  #cform="ngForm" (ngSubmit)="onSubmit()" [hidden]="request || showSpinner">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">
            {{ formErrors.firstname }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.lastname">
            {{ formErrors.lastname }}
          </mat-error>
        </mat-form-field>
     </p>
     <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
        <mat-error *ngIf="formErrors.telnum">
          {{formErrors.telnum}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="email" placeholder="Email" type="email" email required>
        <mat-error *ngIf="formErrors.email">
          {{formErrors.email}}
        </mat-error>
      </mat-form-field>
   </p>
   <p>
      <mat-checkbox color="primary" [checked]="false" (change)="onChange($event)" #mycheckbox>{{job.name}}</mat-checkbox>
      <mat-error *ngIf="!mycheckbox.checked">Please Select Your Requested Service.</mat-error> 
    <!---->
      <!-- <mat-checkbox color="primary" [checked]="checkedBox" (change)="onChange($event)">{{job.name}}</mat-checkbox> -->
    <mat-form-field [hidden]="true">
        <input matInput autocomplete="off" required placeholder="requestedservicename" formControlName="requestedservicename">{{job.name}}
    </mat-form-field>
    </p>
     <button type="submit" mat-button class="background-primary text-floral-white"
     [disabled]="requestForm.invalid || checkedBox">Request</button>
   </form>
   <div *ngIf="request" [hidden]="showSpinner" [@expand]> 
    <!-- <h3>Your Submission</h3> -->
    <mat-list *ngFor="let request of requests">
      <h1>Your Submission</h1>
      <mat-list-item>
        <p  matLine>First Name:&nbsp;{{request.firstname}}</p>
      </mat-list-item>
      <mat-list-item>
        <p  matLine>Last Name:&nbsp;{{request.lastname}}</p>
      </mat-list-item>
      <mat-list-item>
        <p  matLine>Tel. Number:&nbsp;{{request.telnum}}</p>
      </mat-list-item>
      <mat-list-item>
        <p  matLine>Email:&nbsp;{{request.email}}</p>
      </mat-list-item>
      <mat-list-item>
        <p  matLine>Requested Service:&nbsp;{{request.requestedservicename}}</p>
      </mat-list-item>
  </mat-list>  
  </div>
 <div [hidden]="!showSpinner">
    <h3>Submitting Form</h3>
  <mat-spinner></mat-spinner>
</div>
</div>
</div>
<div [hidden]="job || errMess">
  <mat-spinner></mat-spinner><h4>Submitting Form</h4>
</div>  
<div fxFlex *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>








    <!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <p>
        <label>
          First Name:
          <input type="text" formControlName="firstName">
        </label>
    </p>
    <p>
        <label>
          Last Name:
          <input type="text" formControlName="lastName">
        </label>
    </p>
        
       <button type="submit" [disabled]="!profileForm.valid">Submit</button> -->
      <!-- </form> -->

 
    <!-- <form #companyForm="ngForm" 
    (ngSubmit)="submitCompany(companyForm.form);">
    <p>
    <label>First Name:</label>
    <input type="text" 
       class="form-control" 
       name="company-name">
    </p>
    <p>
    <label>Last Name:</label>
    <input type="text" 
       class="form-control" 
       name="company-name"
       ngModel
       #nameField="ngModel">
    </p>
    <p>
    <label>Middle Name:</label>
    <input type="text" 
       class="form-control" 
       name="company-name"
       ngModel
       #nameField="ngModel"
       required
       minlength="3">
    </p>
    </form> -->

        
    <!-- <mat-card *ngIf="job">
    <img mat-card-image src={{job.image}} alt={{job.name}}>
    <mat-card-actions>
        <button mat-button>Request</button>
    </mat-card-actions>
    </mat-card> -->


