
.itemlistcontainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap row;
  flex: auto;
  align-items: center;
}
  
  
  .no-wrap {
    display: flex;
    flex: auto;
  }


.container{
  margin-top: 100px;
  margin-left: 100px;;
}

div > div.imgcontainer > img{
  width: 200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.formcontainer{
  margin-bottom: 5px;
 // margin-left: 100px;
 //padding-left: 100px;
  margin-top: 30px;

}

::ng-deep .mat-form-field[hidden] {
  display: none;
}

::ng-deep .mat-card{
    background-color:transparent !important;
   // background-color: rgb(221, 192, 233);
    color: darkslategray;
    margin-left:10px;
    margin-right:70px;
    //opacity :0.5;
   // padding:5px !important;
  }

  ::ng-deep .mat-card-content{
    color: rgb(78, 44, 156);
    text-align: center;
  }

  ::ng-deep .mat-card-actions > button{
    background-color:darkslategray;
    color: white;
  }

  .icon-container {
    justify-content: space-between;
    width: 480px;
    font-size: 20px;
  }

  button:hover{
    color: blue;
  }

  .mat-icon {
    font-size: 30px;
  }


.linkcontainer{
  margin-top: 150px;
}

.buttonBg{
  background-color:rebeccapurple;
  color:white;
  position: center;
  font-size: 16px;
  font-family: sans-serif;
  position:relative;
}

.buttonBg:hover{
  color: white;
  background-color: rgb(151, 78, 224);
}



.btnn {
  height: 1px;
  font-size: 15px;;
  color: blue;
}




/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1281px){
  div.container {
    margin-top: 10px;
    margin-left: 10px;
   }
  div > div.imgcontainer > img{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display:block;
  }
  div > div.example> mat-list > h1{
    margin-right: 10px;
    font-size: 18px;
  }
  div > div.example> mat-list > hr{
      margin-right: 15px;
  }
  div > div.example> mat-list > div > p{
      margin-right: 15px;
  }
  div > div.example> mat-list.mat-list.mat-list{
      margin-right: 15px;
  }
}

/* Phones */
@media only screen and (max-width: 767px) {
 div.container {
  margin-top: 10px;
  margin-left: 10px;
 }
div > div.imgcontainer > img{
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display:block;
}
div > div.example> mat-list > h1{
   margin-right: 10px;
   font-size: 18px;
}
div > div.example> mat-list > hr{
    margin-right: 15px;
}
div > div.example> mat-list > div > p{
    margin-right: 15px;
}
div > div.example> mat-list.mat-list.mat-list{
    margin-right: 15px;
}

}


