.containerlist {
    margin: 40px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 5px;
    display:flex;
}


  h1.up{
    color:purple;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    margin: 0 !important;

  }

  h2.down{
    color:black;
    font-weight: bold;
    text-align: center;
    line-height:0.8;
    font-family:CoquetteW00-Light,sans-serif;
    font-size: 30px;
  }



  //
  .itemcontainer{
    display:flex;
  }
  
  .image {
  //  display: flex;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rebeccapurple;
   // display: flex;
  }
  
  .itemcontainer:hover .overlay {
    opacity: 0.3;
  }

  .itemcontainer:active .overlay {
    opacity: 0.8;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  icon-container {
    justify-content: space-between;
    width: 480px;
    font-size: 20px;
  }

  button:hover{
    color: blue;
  }

  .mat-icon {
    font-size: 30px;
  }
