/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import url(https://db.onlinewebfonts.com/c/6fcade7abbedc0b15b45d46f0b8eca84?family=CoquetteW00-Light);

// some basic resets 
$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}


body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  
}


.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}


@font-face {font-family: "CoquetteW00-Light"; src:
  url("https://db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.eot"); src:
  url("https://db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.eot?#iefix")format("embedded-opentype"), 
  url("https://db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.woff2") format("woff2"), 
  url("https://db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.woff") format("woff"), 
  url("https://db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.ttf") format("truetype"), 
  url("https://db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.svg#CoquetteW00-Light") format("svg"); }




