<div class="container"
    fxLayout="row"
    fxLayout.sm="row"
    fxLayout.xs="row"
    fxLayoutAlign.gt-md="center none"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    
<h1 fxFlex=100  [@expand] class="example">How can we help you?</h1>


<!-- <a [routerLink]="['/maintenanceSevice']" routerLinkActive="active">
<button fxFlex class="button button1" fxFlex=20>Maintenance</button></a>
<a [routerLink]="['/cleaningService']" routerLinkActive="active">
<button fxFlex class="button button1" fxFlex=20>Cleaning</button></a> -->



<a mat-button class="mat-button button1 mbutton" routerLink='/maintenanceService' routerLinkActive="active" fxFlex=20  [@expand]>Maintenance</a>
<a mat-button class="mat-button button1 cbutton" routerLink='/cleaningService' routerLinkActive="active"fxFlex=20  [@expand]>Cleaning</a>
</div>

